.Login-Container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.Login-Field {
    width: 22.5%;
    min-height: 30%;
    background-color: #edf2fb;
    border-radius: 12px;
    color: #282c34;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    align-self: center;
}

.Login-Failed-Text {
    color: red;
    font-size: 15px;
}

.Login-Input {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.Login-Button {
    margin-top: 60px;
    border-radius: 7px;
    padding: 10px 12px;
    border: none;
    background-color: coral;
    color: #912f0b;
    font-weight: 600;
    font-size: 16px;
}

.Login-Password {
    margin-top: 20px;
}

.Login-Info-Text {
    text-align: center;
    font-size: 14px;
}

label {
    font-size: 16px;
    margin-bottom: 10px;
}

.Login-Info-Text a {
    color: blue;
}

input {
    border-radius: 7px;
    padding: 10px 12px;
    border: none;
    font-size: 18px;
    box-shadow: 1px 1px 2px #282c3469;
}

a {
    color: blue;
}

@media only screen and (max-width: 1550px) {
    .Login-Field {
        width: 30.5%;
        min-height: 30%;
        background-color: #edf2fb;
        border-radius: 12px;
        color: #282c34;
        padding: 30px;
        box-sizing: border-box;
        text-align: center;
        align-self: center;
    }


}

@media only screen and (max-width: 1150px) {
    .Login-Field {
        width: 40.5%;
        min-height: 30%;
        background-color: #edf2fb;
        border-radius: 12px;
        color: #282c34;
        padding: 30px;
        box-sizing: border-box;
        text-align: center;
        align-self: center;
    }
}

@media only screen and (max-width: 820px) {
    .Login-Field {
        width: 50.5%;
        min-height: 30%;
        background-color: #edf2fb;
        border-radius: 12px;
        color: #282c34;
        padding: 30px;
        box-sizing: border-box;
        text-align: center;
        align-self: center;
    }
}

@media only screen and (max-width: 690px) {
    .Login-Field {
        width: 60.5%;
        min-height: 30%;
        background-color: #edf2fb;
        border-radius: 12px;
        color: #282c34;
        padding: 30px;
        box-sizing: border-box;
        text-align: center;
        align-self: center;
    }
}

@media only screen and (max-width: 550px) {
    .Login-Field {
        width: 70.5%;
        min-height: 30%;
        background-color: #edf2fb;
        border-radius: 12px;
        color: #282c34;
        padding: 30px;
        box-sizing: border-box;
        text-align: center;
        align-self: center;
    }
}

@media only screen and (max-width: 490px) {
    .Login-Field {
        width: 85.5%;
        min-height: 30%;
        background-color: #edf2fb;
        border-radius: 12px;
        color: #282c34;
        padding: 30px;
        box-sizing: border-box;
        text-align: center;
        align-self: center;
    }
}